/* Resetting default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100..900&display=swap");

/* Body styles */
body {
  background-color: #f0f0f0;
  font-family: "Azeret Mono", monospace;
}

/* Header styles */
.header {
  background-color: #0d1321;
  color: #fff;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: #fff;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Hero section styles */
.hero-section {
  background: url("./Assets/images/Hero-bg.png") no-repeat center center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  color: #0d1321;
}

.hero-title {
  font-size: 48px;
  font-weight: 800;
  margin: 24px 0;
}

.hero-paragraph {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 40px;
}

.btn-primary {
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #0d1321;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #1a1f2b;
}

/* Main container styles */
.main-container {
  align-items: center;
  padding: 20px 97px 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}

/* Section styles */
.section-content {
  padding: 0 20px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-paragraph {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

/* I Will Do section styles */
.i-will-do,
.i-will-help,
.i-will-do-change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  background-color: rgb(255, 253, 253);
  border-radius: 20px;
  padding: 40px;
}

.subsection-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subsection-paragraph {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn-secondary {
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #0d1321;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #1a1f2b;
}

.i-will-do .section-image,
.i-will-help .section-image,
.i-will-do-change .section-image {
  flex: 1;
}

.i-will-do .section-image img,
.i-will-help .section-image img,
.i-will-do-change .section-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Inspiration section styles */
.inspiration {
  background-color: rgba(255, 255, 255, 0.712);
  padding: 45px;
  text-align: center;
  border-radius: 16px;
  top-margin: 45px;
}

.inspiration .section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.inspiration .section-paragraph {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

/* Video section styles */
.video-container {
  text-align: center;
  margin-top: 60px;
  border: 5px;
  border-radius: 2px;
}

.video-container iframe {
  width: 100%;
  max-width: 800px;
  height: 450px;
  border-radius: 16px;
}

/* Why Web Dev section styles */
.why-web-dev {
  background-color: rgba(255, 255, 255, 0.712);
  padding: 80px 20px;
  text-align: center;
  border-radius: 16px;
}

.why-web-dev .section-title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px;
}

.why-web-dev .section-paragraph {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .main-container {
    padding: 20px 20px;
  }

  .hero-title {
    font-size: 36px;
  }

  .hero-paragraph {
    font-size: 16px;
  }

  .btn-primary,
  .btn-secondary {
    font-size: 14px;
    padding: 10px 20px;
  }

  .section-title {
    font-size: 28px;
  }

  .subsection-title {
    font-size: 24px;
  }

  .subsection-paragraph {
    font-size: 14px;
  }

  .video-container iframe {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .hero-title {
    font-size: 24px;
  }

  .hero-paragraph {
    font-size: 14px;
  }

  .section-title {
    font-size: 24px;
  }

  .subsection-title {
    font-size: 20px;
  }

  .subsection-paragraph {
    font-size: 12px;
  }
}

/* skills section styles */
.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* My Current section styles */
.current-target {
  background-color: rgba(255, 255, 255, 0.712);
  padding: 80px 20px;
  text-align: center;
  border-radius: 16px;
  padding: 45px;
  margin: 45px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 15px;
}

.section-paragraph {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
