/* Import the font */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Azeret Mono", monospace;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.download-resume {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.intro {
  text-align: center;
  padding: 50px 20px;
  background-color: #eaeaea;
}

.intro h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.why-web-development {
  background: url("images/Hero-bg.png") no-repeat center center/cover;
  color: white; /* Adjust the text color for better contrast */
  text-align: center;
  padding: 50px 20px; /* Adjust padding as needed */
}

.why-web-development img {
  display: none; /* Hide the original image element */
}

.why-web-development h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.reasons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.reason {
  width: 30%;
  margin: 10px;
  padding: 20px;
  background: rgba(
    0,
    0,
    0,
    0.7
  ); /* Semi-transparent background for better readability */
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

.reason h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.reason p {
  font-size: 1em;
  line-height: 1.5;
}

.inspiration {
  text-align: center;
  padding: 50px 20px;
}

/* Additional CSS for Video Container */
.video-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 20px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.targets {
  text-align: center;
  padding: 50px 20px;
}

.target {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.target-item {
  width: 30%;
  margin: 10px;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.support {
  text-align: center;
  padding: 50px 20px;
  background-color: #eaeaea;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
}
